doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        script(src="/js/face-api.min.js") 
        link(rel="stylesheet", href="/css/style.css")
    body 
        h2= title
        canvas#canvas
        div(style="width: 480px; height: 480px")
            video#webcam(autoplay playsinline muted width="480" height="480")
        #console
        br
        div(style="padding: 10px;")
        button#addMe(style="padding: 10px;") Add Me
        br
        input#inputLabel(type="text", name="Input Label" style="padding: 10px;")
        button#addLabel(style="padding: 10px;") Add Class
        
        script(src="/js/script.js")